@model IEnumerable<WebApplicationQueue.Entities.Position>

@{
    ViewData["Title"] = "GetQueue";
}

<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Queue for 3D-printer</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Queue" asp-action="CreatePosition" class="btn btn-primary">
                Create New Position
            </a>
        </div>
    </div>
</div>
<p> </p>
<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>
                Number in queue
            </th>
            <th>
                Author
            </th>
            <th>
                Registration time
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(pos => pos.NumberInTheQueue))
        {
            <tr>
                <td width="10%">@obj.NumberInTheQueue</td>
                <td width="19%">@obj.Requester</td>
                <td width="19%">@obj.RegistrationTime</td>
                <td width="19%">@obj.Description</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-primary mx-2" asp-controller="Queue" asp-action="EditPosition" asp-route-id="@obj.Id">Edit</a>
                        <a class="btn btn-danger mx-2" asp-controller="Queue" asp-action="DeletePosition" asp-route-id="@obj.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
